body{
    background-color: #232B2F;
    color: #FFF2F1;
    font-family: 'Shippori Mincho', serif;
}

nav{
    height: 5vh;
    width: 100%;
    background-color: #232B2F;
    position: fixed !important;
    top: 0 !important;
}

a.nav-link:hover{
    color: #39D0C1  !important;
    transition: 0.3s;
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: #FE5F55;
}

a.link:hover{
    color: #232B2F  !important;
    transition: 0.1s;
    transform: scale(1.02);
}

div.section{
    padding-top: 5vh;
    min-height: 100vh;
}


div#aboutme{
    width: 70%;
}

/* div#stack-bg{
    background-color: #FFF2F1;
    color: #232B2F;
} */

div#stack{
    width: 80%;

}

div.half-box{
    width: 50%;
}

p.paragraph{
    margin-bottom: 30px;
    font-size: 22px;
}

.jumbotron{
    padding-top: 15vw  !important;
    width: 80%;
    height: 100vh;
}

.avatar{
    width: 315px;
    height: 300px;
    min-width: 210px;
    min-height: 200px;
    border-radius: 50%;
}

.portrait{
    height: 80vh;
    width: 55vh;
    min-height: 400px;
    min-width: 300px;
    border: 1px solid white;
}

img.logo{
    height: 150px;
    margin: 5px;
}

img.github-logo{
    height: 35px;
}
span.github{
    font-size: 18px;
}

div#contact{
    padding-top: 20vw;
}
span.contact{
    font-size: 32px;
}

p.contact{
    width: 80vw;
}

a.contact{
    font-size: 32px;
}
a.contact:hover{
    color: #FFF2F1;
}

address.contact{
    display:inline-block;
    color: blueviolet  !important;
}

div.card{
    position: static;
    width: 58rem;
    margin: 50px;
    color: #232B2F;
}

.card-title{
    font-weight: bold;
}