body{
    background-color: #232B2F;
    color: #FFF2F1;
    font-family: 'Shippori Mincho', serif;
}

nav{
    height: 5vh;
    width: 100%;
    background-color: #232B2F;
    position: fixed !important;
    top: 0 !important;
}

a.nav-link:hover{
    color: #39D0C1  !important;
    transition: 0.3s;
    transform: scale(1.05);
}

div.section{
    padding-top: 5vh;
    height: 100vh;
}

div#aboutme{
    width: 70%;
}

/* div#stack-bg{
    background-color: #FFF2F1;
    color: #232B2F;
} */

div#stack{
    width: 80%;

}

div.half-box{
    width: 50%;
}
p.paragraph{
    margin-bottom: 30px;
    
}
.jumbotron{
    padding-top: 35vh  !important;
    width: 80%;
    height: 100vh;
}

.avatar{
    width: 315px;
    height: 300px;
    border-radius: 50%;
}

img.logo{
    height: 150px;
    margin: 5px;
}